<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10000</key>
	<dict>
		<key>number</key>
		<string>10000</string>
		<key>task</key>
		<string>检查播放器1是否完好</string>
		<key>distance</key>
		<string>0KM</string>
		<key>boolean</key>
		<string>YES</string>
		<key>detail</key>
		<string>1xxxxxxxxxxxxxxxxxxxxxxxxxxxx</string>
	</dict>
	<key>10001</key>
	<dict>
		<key>number</key>
		<string>10001</string>
		<key>task</key>
		<string>检查播放器2是否完好</string>
		<key>distance</key>
		<string>1KM</string>
		<key>boolean</key>
		<string>NO</string>
		<key>detail</key>
		<string>2xxxxxxxxxxxxxxxxxxxxxxxxxxxx</string>
	</dict>
	<key>10002</key>
	<dict>
		<key>number</key>
		<string>10002</string>
		<key>task</key>
		<string>检查播放器3是否完好</string>
		<key>distance</key>
		<string>2KM</string>
		<key>boolean</key>
		<string>YES</string>
		<key>detail</key>
		<string>3xxxxxxxxxxxxxxxxxxxxxxxxxxxx</string>
	</dict>
	<key>10003</key>
	<dict>
		<key>number</key>
		<string>10003</string>
		<key>task</key>
		<string>检查播放器4是否完好</string>
		<key>distance</key>
		<string>3KM</string>
		<key>boolean</key>
		<string>NO</string>
		<key>detail</key>
		<string>4xxxxxxxxxxxxxxxxxxxxxxxxxxxx</string>
	</dict>
	<key>10004</key>
	<dict>
		<key>number</key>
		<string>10004</string>
		<key>task</key>
		<string>检查播放器5是否完好</string>
		<key>distance</key>
		<string>4KM</string>
		<key>boolean</key>
		<string>YES</string>
		<key>detail</key>
		<string>5xxxxxxxxxxxxxxxxxxxxxxxxxxxx</string>
	</dict>
	<key>selected</key>
	<dict>
		<key>image0</key>
		<string>/Users/msi/Documents/2016/LBS_APP/LBS_APP/未选择.png</string>
		<key>image1</key>
		<string>/Users/msi/Documents/2016/LBS_APP/LBS_APP/已选择.png</string>
	</dict>
</dict>
</plist>
